<section class="m-sitelinks l-full-height-flex">
    <a class="m-sitelinks--link" href="/projects"><h2 class="m-sitelinks--text">Projects <i class="fa fa-arrow-right" aria-hidden="true"></i></h2></a>
    <a class="m-sitelinks--link" href="/blog"><h2 class="m-sitelinks--text">Blog <i class="fa fa-arrow-right" aria-hidden="true"></i></h2></a>
</section>
