@import '../rsc/bootstrap-4/css/bootstrap-reboot.css';
@import '../rsc/bootstrap-4/css/bootstrap-grid.css';
@import '../rsc/mixins.scss';
@import '../rsc/breakpoints.scss';
@import '../rsc/header.scss';

a {
	
	color: #333;
	@include transition(color 0.2s ease-in-out);
	&:hover {

		color: lighten(#333, 25%);
		text-decoration: none;
	}
}

.l-aside {

    @include respond-to('medium') {

    	position: fixed;
    }
}
