@import '../rsc/bootstrap-4/css/bootstrap-reboot.css';
@import '../rsc/bootstrap-4/css/bootstrap-grid.css';
@import '../rsc/variables.scss';
@import '../rsc/mixins.scss';
@import '../rsc/breakpoints.scss';
@import '../rsc/font-awesome/scss/font-awesome.scss';
@import '../rsc/header.scss';
@import '../rsc/icons.scss';
@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

body {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

a {
	color: $color-primary;
	@include transition(color 0.2s ease-in-out);
	
	&:hover,
	&:focus,
	&:active {
		color: $color-hover;
		text-decoration: none;
	}
}

img {
	max-width: 100%;
}

p a {
	text-decoration: underline;

	&:hover,
	&:focus,
	&:active {
		text-decoration: underline;
	}
}

p + h2,
img + h2,
figure + h2,
pre + h2 {
	margin-top: 30px;
}

img + p {
	margin-top: 20px;
} 

.button {
	display: inline-block;
	text-decoration: none;
	background-color: $color-primary;
	color: white;
	padding: 10px 15px;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 4px;
	@include transition(background-color 0.2s ease-in-out);

	&:hover {
		color: white;
		background-color: $color-hover;
		text-decoration: none;
	}
}

.align-center {
	text-align: center;
}

.a-link--overlay {
	font-size: 0;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 2;
}

.m-post--wrapper {
	position: relative;
	text-align: center;
	padding: 20px;

	h2 {
		margin-bottom: 2.5rem;
	}

	&:before,
	&:after {
		position: absolute;
		top: 75px;
		left: 50%;
		width: 5%;
		max-width: 45px;
		height: 1px;
		background: $color-primary;
		content: '';
		@include transition(opacity 0.3s, transform 0.3s);
		@include transform(translate3d(-50%, -50%, 0));
	}
}

.m-post--wrapper:hover {

	&:before {
		@include transform(translate3d(-50%, -50%, 0) rotate(45deg));
	}

	&:after {
		@include transform(translate3d(-50%, -50%, 0) rotate(-45deg));
	}
}

.l-bordered-view-rows {

	.views-row {
		position: relative;
		padding: 20px 0;

		& + .views-row {

			&:before {

				content: '';
				position: absolute;
				top: 0;
				left: 50%;
				height: 1px;
				background-color: $color-hover;
				width: 80%;
				@include transform(translate3d(-50%, -50%, 0));
			}
		}
	}
}


.l-aside {
    @include respond-to('small') {
    	position: fixed;
    }
}
